*{
  box-sizing: border-box;
  font-family: Arial;
}

html, body {
	margin: 0;
	padding: 0;
}

header {
	position: absolute;
	right: 0; top: 0;
	padding: 20px;
}

ul {
	margin: 0; padding: 0;
	list-style: none;
	font-size: 13px;
}

#main-menu {
	display: flex;
	width: 100%;
	align-items: center;
}

#main-menu li {
		padding-left: 10px;
}

#main-menu a {
	text-decoration: none;
	color: black;
}

#main-menu a:hover {
	text-decoration: underline;
}

#grid-link {
	background-image: url('../images/google-sprite.png');
	width: 30px; height: 30px;
	background-position: -132px -38px;
	background-size: 528px 68px;
	display: block;
}

#connexion-button {
	text-decoration: none;
	display: block;
	color: white !important;
	background-color: #4285f4;
	border-radius: 2px;
	padding: 10px 15px;
	font-weight: 700 !important;
}

#connexion-button:hover {
	cursor: default;
	text-decoration: none !important;
}
main {
	width: 100%;
	height: 100%;
	margin-top: 47px;
}

#main-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#logo {
	margin-top: 109px;
	margin-bottom: 30px;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1139px;
}

#search-block {
	width: 584px; height: 44px;
	border: 1px solid #dfe1e5;
	border-radius: 30px;
	display: flex;
	align-items: center;
	padding: 0px 8px 0 16px;
	margin-bottom: 18px;
}

#search-input {
	height: 34px; width: 100%;
	margin-right: 10px;
	font-size: 1em;
	border: none;
}

#search-icon {
	margin: 10px 10px 10px 0;
	color: gray;
}

.submit-search {
	border: 1px solid #f4f4f4;
	background-color: #f4f4f4;
	padding: 0 16px;
	font-size: 14px;
	margin: 11px 4px;
	line-height: 27px;
	height: 36px;
	color: #5F6368;
	border-radius: 4px;
}

.submit-search:hover {
	border: 1px solid gray;
	cursor: pointer;
}

footer {
	position: fixed;
	bottom: 0;
	padding: 15px 30px;
}

footer ul {
	list-style: none;
	display: inline-block;
}

footer ul li {
	display: inline-block;
}